* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 32px per square, 40 squares */

#game_area {
    width: 1280px;
    height: 768px;
    position: relative;
    background-color: lightblue;
    background-image: url("./images/background.png");
    background-repeat: repeat;
}

#scores {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 416px;
    height: 320px;
    background-image: url("./images/area/scores.png");
}


#magnifier {
    position: absolute;
    left: 32px;
    bottom: 0px;
    width: 416px;
    height: 384px;
    background-image: url("./images/area/magnifier.png");
}

#doctor_area {
    position: absolute;
    right: 64px;
    top: 64px;
    width: 288px;
    height: 288px;
    background-image: url("./images/area/doctor.png");
}

#doctor {
    position: absolute;
    top: 64px;
    left: 32px;
    z-index: 2;
}

#info {
    position: absolute;
    right: 32px;
    bottom: 0px;
    width: 352px;
    height: 416px;
    background-image: url("./images/area/info.png");
}

#bottle {
    position: absolute;
    width: 384px;
    height: 672px;
    bottom: 32px;
    left: 480px;
}

#bottle__neck {
    position: absolute;
    background-image: url("./images/area/bottle_neck.png");
    top: 0px;
    left: 64px;
    width: 256px;
    height: 96px;
}

#bottle__body {
    position: absolute;
    background-image: url("./images/area/bottle_body.png");
    width: 384px;
    height: 576px;
    bottom: 0px;
    left: 0px;
}

#board {
    display: grid;
    position: absolute;
    bottom: 64px;
    left: 544px;
    grid-template-rows: repeat(17, 32px);
    grid-template-columns: repeat(8, 32px);
}

.tile {
    width: 32px;
    height: 32px;
}

.numeric_display {
    display: flex;
    position: absolute;
}

.victory_screen {
    position: absolute;
    top: 256px;
    left: 384px;
    width: 576px;
    height: 160px;
    background-image: url("./images/stage_completed.png");
    z-index: 10;
}

.failure_screen {
    position: absolute;
    top: 256px;
    left: 448px;
    width: 448px;
    height: 160px;
    background-image: url("./images/game_over.png");
    z-index: 10;
}

.pill_part {
    position: absolute;
    width: 32px;
    height: 32px;
}